body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2e9de;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #2a2837;
}

li {
    list-style-type: none;
}

.sidenav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 290px;
    padding-top: 20px;
    overflow-x: hidden;
    background-color: #9893a5;
}

.sidenav a {
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
}

a:hover {
    color: #f6c177;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    padding-left: 140px;
    padding-right: 100px;
    padding-top: 40px;
}

.cards {
    background-color: #ebbcba;
    margin: 20px;
    padding: 20px;
    min-width: 190px;
    min-height: 90px;
}

.form-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 50px;
}

img {
    display: block;
    margin: 25px;
    border-radius: 100%;
    max-width: 100px;
}

input {
    height: 50px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

.plus {
    flex-direction: column;
    border-radius: 100px;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    background-color: #f2e9de;
}

#save {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    width: 150px;
    height: 45px; 
    background-color: #3e8fb0;
}

#cancel {
    width: 90px;
    height: 45px;
    background-color:#59546d
}

.display-info {
    margin-left: 200px;
    padding-left:100px;
}

.fav-contact {
    display: flex;
}

h1 {
    margin-top: 60px;
}

#edit {
    margin-left: 330px;
    margin-top: 30px;
    margin-right: 5px;
    width: 100px;
    height: 45px; 
    background-color: #3e8fb0;
}

#close {
    width: 150px;
    height: 45px;
    background-color:#59546d
}

@media screen and (max-width: 600px) {
    .html,
    body {
        height: 100%;
        margin: 0;
    }

    .sidenav {
        position: relative;
        width: 100%;
        height: 5%;
        font-size: 14px;
    }

    .sidenav a {
        padding-left: 50px;
        padding-bottom: 20px;
        display: block; 
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-right: 10%;
    }

    .form-container {
        width: 100%;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 0px;
        padding-top: 0px;
    }

    img {
        display: block;
        margin: 25px;
        border-radius: 100%;
        max-width: 100px;
    }

    .display-info {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 0px;
        font-size: 14px;
    }

    .fav-img {
        display: block;
        margin: 25px;
        border-radius: 100%;
        max-width: 100px;
        margin-right: 25%;
    }
    
    h1{
        font-size: 23px;
    }

    #edit {
        margin-left: 50px;
        margin-top: 30px;
        margin-right: 5px;
        width: 100px;
        height: 45px; 
        background-color: #3e8fb0;
    }

    #close {
        width: 150px;
        height: 45px;
        background-color:#59546d
    }
}

@media screen and (min-width: 600px) {
    #edit {
        margin-left: 300px;
        margin-top: 30px;
        margin-right: 5px;
        width: 100px;
        height: 45px; 
        background-color: #3e8fb0;
    }
    
    #close {
        width: 150px;
        height: 45px;
        background-color:#59546d
    }
}

